@model List<TicketsForCinema.Domain.DomainModels.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border">
    <div class="row">
        <a class="btn btn-outline-success" style="margin-top: 10px; margin-left: 40px" asp-action="Create">Insert New Movie</a>
    </div>
    
       @for (int i = 0; i < Model.Count; i++)
       {
           var item = Model[i];

           if(i % 3 == 0)
           {
               @:<div class="row">
           }

        <div class="col-md-3 m-4">
            <div class="card" style="width: 18rem; height: 32rem;">
                <img class="card-img-top" src="@item.ProductImage" style="height: 50%;" alt="Image for Movie!">

                <div class="card-body">
                    <h3 class="card-title">@item.ProductName</h3>
                    <p class="card-text">@item.ProductDescription</p>
                    
                    
                    <h6>Price: @item.ProductPrice den.</h6>
                </div>

                <div class="card-footer">
                    <a asp-controller="Products" asp-action="AddProductToCard" asp-route-id="@item.Id" class="btn btn-outline-secondary">Add to Card</a>
                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                </div>
            </div>
        </div>


           if(i % 3 == 2)
           {
               @:</div>
           }
       }
</div>

